header{
    justify-content: center;
    display: flex;
    margin-bottom: 5%;
    border: black 1px solid;
}

.a{
    font-size: larger;
    gap: 10%;
    margin: auto;
    display: flex;
}

.productos{
    border: solid 1px black;
    padding: 5%;
}

.sticky{
    position: sticky;
    top: 0;
    z-index: 1;
}

header i{
    position: absolute;
    left: 0;
}

.idiomas{
    border: black 1px solid;
    position: absolute;
    right: 0;
}

.chamuyo{
    display: flex;
}

.botellas{
    display: flex;
    margin: 0 auto;
    gap: 7%;
}

.cartas{
    margin-bottom: 5%;
    margin: 0 auto;
}

.carta{
    border: black 1px solid;
    margin-bottom: 2%;
    display: inline-block;
    margin-inline: 2%;
}



.letraAmarilla{
    color: rgb(255,217,18);
}

.letraVerde{
    color: rgb(57, 137, 45);
}

.fondoAmarillo{
    background-color: rgb(255,217,18);
}
.fondoVerde{
    background-color: rgb(57, 137, 45);
}

footer{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}